<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form border">

  <div class="container">

    <h3>Информация о маршруте</h3>

    <label class="control-label col-xs-2 col-xs-10">Наименование</label>
    <input type="text" name="name"  class="general" [formControlName]="'name'">
    <p *ngIf="!form.controls['name']?.value && form.controls['longTour']?.value" class="alert-danger general">
      Поле обязательно для заполнения, мин. 3 символа!</p>

    <label class="control-label col-xs-2">Автор маршрута</label>
    <input type="text"  class="general" [formControlName]="'autore'">
    <p *ngIf="!form.controls['autore']?.value && form.controls['longTour']?.value" class="alert-danger general">
      Поле обязательно для заполнения, мин. 3 символа!</p>


    <label>Тип исполнителя</label>
    <select class="general " [formControlName]="'typeOfPerson'">
      <option value="mec">Механик</option>
      <option value="fDri">Водитель 1</option>
      <option value="sDri">Водитель 2</option>
    </select>

    <div class="general">
      <label>Дни обхода</label>
      <label class="radio" *ngFor="let week of weeks">
        <input type="radio" formControlName="week" [checked]=" ('sun')" [value]="week.type"> {{week.text}}
      </label>
    </div>

    <div class="general">
      <input type="checkbox" [formControlName]="'longTour'">
      <label #localLabel>Длительный обход</label>
    </div>

    <button type="submit" class="registerbtn" [disabled]="form.status === 'INVALID'">
      Сохранить
    </button>

  </div>

</form>
